<template>
  <q-page class="row items-center justify-center">
    <TravelForm class="col-6" />
    <ConfirmAgencyDialog />
  </q-page>
</template>

<script setup lang="ts">
import TravelForm from 'src/components/TravelForm.vue';
import ConfirmAgencyDialog from 'src/components/ConfirmAgencyDialog.vue';
</script>
