<template>
  <div class="row flex-center">
    <LoginForm class="col-8" />
  </div>
</template>

<script setup lang="ts">
import LoginForm from 'src/components/LoginForm.vue';

defineOptions({
  name: 'LogInPage',
});
</script>

<style></style>
