<template>
  <div class="row justify-center items-center">
    <OptionsCard class="col-7" />
    <PreviewBasket class="col-3" />
  </div>
</template>

<script setup>
import OptionsCard from '../components/OptionsCards.vue';
import PreviewBasket from 'src/components/PreviewBasket.vue';
</script>

<style></style>
