<template>
  <div class="row flex-center">
    <SignUpForm class="col-8" />
  </div>
</template>
<script setup lang="ts">
import SignUpForm from 'src/components/SignUpForm.vue';
defineOptions({
  name: 'SignUpPage',
});
</script>
<style></style>
