<template>
  <q-menu>
    <q-list>
      <q-item>
        <q-btn @click="disconnect" label="Déconnexion" color="negative" />
      </q-item>
    </q-list>
  </q-menu>
</template>
<script setup>
import { useUserStore } from 'src/stores/user-store';
import { useRouter } from 'vue-router';
const userStore = useUserStore();
const router = useRouter();
const disconnect = () => {
  localStorage.removeItem('token');
  userStore.setToken(null);
  router.push('/');
};
</script>
