<template>
  <div class="row q-col-gutter-md">
    <div
      v-for="car in filteredCars"
      :key="car.name"
      class="col-12 col-md-6 col-lg-4"
    >
      <div v-if="carStore.isLoading">
        <q-spinner color="primary" size="3em" />
      </div>
      <q-card class="car-card">
        <q-card-section class="bg-primary text-white row justify-between">
          <div class="text-h6">{{ car.name }}</div>
          <q-chip color="secondary" text-color="white">{{
            car.category
          }}</q-chip>
        </q-card-section>

        <q-card-section class="row q-col-gutter-md flex-center">
          <div class="col-4 flex-center">
            <q-img :src="car.photo_link" />
          </div>
          <div class="col-5">
            <q-list dense>
              <q-item class="row flex-center">
                <q-icon
                  name="airline_seat_recline_normal"
                  color="red"
                  size="1.5em"
                />
                <q-item-section>
                  <q-item-label>
                    {{ car.number_of_seats }} sièges
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="row flex-center">
                <q-icon name="sensor_door" color="red" size="1.5em" />
                <q-item-section>
                  <q-item-label>
                    {{ car.number_of_doors }} portes
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="row">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#F54E42"
                >
                  <path
                    d="M160-120q-50 0-85-35t-35-85q0-39 22.5-70t57.5-43v-254q-35-12-57.5-43T40-720q0-50 35-85t85-35q50 0 85 35t35 85q0 39-22.5 70T200-607v87h240v-87q-35-12-57.5-43T360-720q0-50 35-85t85-35q50 0 85 35t35 85q0 39-22.5 70T520-607v87h200q17 0 28.5-11.5T760-560v-47q-35-12-57.5-43T680-720q0-50 35-85t85-35q50 0 85 35t35 85q0 39-22.5 70T840-607v47q0 50-35 85t-85 35H520v87q35 12 57.5 43t22.5 70q0 50-35 85t-85 35q-50 0-85-35t-35-85q0-39 22.5-70t57.5-43v-87H200v87q35 12 57.5 43t22.5 70q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T200-240q0-17-11.5-28.5T160-280q-17 0-28.5 11.5T120-240q0 17 11.5 28.5T160-200Zm0-480q17 0 28.5-11.5T200-720q0-17-11.5-28.5T160-760q-17 0-28.5 11.5T120-720q0 17 11.5 28.5T160-680Zm320 480q17 0 28.5-11.5T520-240q0-17-11.5-28.5T480-280q-17 0-28.5 11.5T440-240q0 17 11.5 28.5T480-200Zm0-480q17 0 28.5-11.5T520-720q0-17-11.5-28.5T480-760q-17 0-28.5 11.5T440-720q0 17 11.5 28.5T480-680Zm320 0q17 0 28.5-11.5T840-720q0-17-11.5-28.5T800-760q-17 0-28.5 11.5T760-720q0 17 11.5 28.5T800-680ZM160-240Zm0-480Zm320 480Zm0-480Zm320 0Z"
                  />
                </svg>
                <q-item-section>
                  <q-item-label> {{ car.gearbox_type }} </q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="row flex-center">
                <q-icon
                  :name="
                    car.vehicle_type === 'Carburant' ? 'oil_barrel' : 'bolt'
                  "
                  color="red"
                  size="1.5em"
                />
                <q-item-section>
                  <q-item-label>
                    <span v-if="car.vehicle_type === 'Carburant'">
                      {{ car.fuel_type }}</span
                    >
                    <span v-if="car.vehicle_type !== 'Carburant'">
                      Electrique
                    </span>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="row flex-center">
                <q-icon name="route" color="red" size="1.5em" />
                <q-item-section>
                  <q-item-label>
                    {{ car.autonomy }} kms d'autonomie
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item v-if="car.volume" class="row flex-center">
                <q-icon name="open_in_full" color="red" size="1.5em" />
                <q-item-section>
                  <q-item-label> {{ car.volume }} m3 </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
          <div class="col-3" align="center">
            <div class="text-h5 text-weight-bold text-primary">
              {{ totalPrice(car.price_per_day) }}€ TTC
            </div>
            <div class="p text-weight-bold text-primary">
              soit {{ car.price_per_day }}€ / jour
            </div>
          </div>
        </q-card-section>

        <q-card-actions class="row justify-center">
          <q-btn
            flat
            class="col-5 bg-primary text-white"
            color="primary"
            @click="toggleExpanded(car.name)"
            ><div>Détails</div>
            <q-icon
              :name="isExpanded(car.name) ? 'expand_less' : 'expand_more'"
            />
          </q-btn>
          <q-btn
            flat
            class="col-5 bg-green text-white"
            @click="selectCarAndRedirect(car)"
            color="secondary"
            ><div>Sélectionner</div></q-btn
          >
        </q-card-actions>

        <q-slide-transition>
          <div v-show="isExpanded(car.name)">
            <q-separator />
            <q-card-section>
              <q-list dense>
                <q-item>
                  <q-item-section>
                    <q-item-label>
                      {{ car.other_properties.join(', ') }}
                      <q-icon name="check_circle" color="green" size="1.5em" />
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </div>
        </q-slide-transition>
      </q-card>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import { useCarStore } from 'src/stores/car-store';
import { useTravelSettingsStore } from 'src/stores/travel-settings-store';
import { useRouter } from 'vue-router';
const carStore = useCarStore();
const TSS = useTravelSettingsStore();
const expanded = ref({});
const router = useRouter();

const filteredCars = computed(() => {
  return carStore.filteredCars;
});

const selectCarAndRedirect = (car) => {
  carStore.selectedCar = car;
  router.push('/select-options');
};
const toggleExpanded = (carName) => {
  expanded.value[carName] = !expanded.value[carName];
};

const isExpanded = (carName) => {
  return expanded.value[carName] || false;
};

const totalPrice = (pricePerDay) => {
  return TSS.rentalDays * pricePerDay;
};
</script>

<style scoped>
.car-card {
  max-width: 600px;
  margin: auto;
}
</style>
