<template>
  <div class="row q-pa-lg flex-center">
    <q-select
      v-model="carStore.selectedCategory"
      :options="carStore.categoriesOptions"
      @update:model-value="carStore.updateOptions()"
      label="Catégorie"
      dense
      outlined
      emit-value
      map-options
      class="q-mr-sm"
      style="min-width: 150px"
    />
    <q-select
      v-model="carStore.selectedSeats"
      :options="carStore.seatsOptions"
      @update:model-value="carStore.updateOptions()"
      label="Nombre de places"
      dense
      outlined
      emit-value
      map-options
      class="q-mr-sm"
      style="min-width: 150px"
    />
    <q-select
      v-model="carStore.selectedGearbox"
      :options="carStore.gearboxOptions"
      @update:model-value="carStore.updateOptions()"
      label="Boîte de vitesses"
      dense
      outlined
      emit-value
      map-options
      class="q-mr-sm"
      style="min-width: 150px"
    />
    <q-select
      v-model="carStore.selectedVehicleType"
      :options="carStore.vehicleTypeOptions"
      @update:model-value="carStore.updateOptions()"
      label="Type de véhicule"
      dense
      outlined
      emit-value
      map-options
      class="q-mr-sm"
      style="min-width: 150px"
    />
    <q-select
      v-model="carStore.priceSort"
      :options="priceSortOptions"
      label="Tri par prix"
      dense
      outlined
      emit-value
      map-options
      class="q-mr-sm"
      style="min-width: 150px"
    />
    <q-btn color="secondary" label="Appliquer" @click="carStore.applyFilters" />
    <q-btn
      class="q-ml-sm"
      flat
      label="Réinitialiser"
      @click="carStore.resetFilters"
    />
  </div>
</template>

<script setup>
import { useCarStore } from 'src/stores/car-store';
import { onMounted } from 'vue';
const carStore = useCarStore();

onMounted(() => carStore.initializeCars(), carStore.updateOptions());
const priceSortOptions = [
  { label: 'Prix croissant', value: 'asc' },
  { label: 'Prix décroissant', value: 'desc' },
];
</script>
