<template>
  <q-dialog v-model="agenciesStore.openAgencyMenu">
    <q-card v-if="TSS.city">
      <q-card-section class="row items-center">
        <span class="q-ml-sm">Sélectionner l'agence de location</span>
        <q-avatar icon="store" :dark="true" text-color="black" />
      </q-card-section>

      <q-card-section class="row items-center">
        <q-radio
          v-model="agenciesStore.selectedAgency"
          checked-icon="task_alt"
          unchecked-icon="panorama_fish_eye"
          :val="agenciesStore.fakeAgency"
        >
          <div class="row">
            <q-avatar icon="store" :dark="true" text-color="black" />
            <div>
              <span>Agence de {{ TSS.city.nom }}</span>
              <div>
                {{
                  `${agenciesStore.fakeAgency.streetNumber} ${agenciesStore.fakeAgency.streetName} `
                }}
              </div>
              <div>
                {{
                  `${agenciesStore.fakeAgency.postalCode}, ${agenciesStore.fakeAgency.cityName}`
                }}
              </div>
            </div>
          </div>
        </q-radio>
      </q-card-section>
      <div v-for="airport in airports" :key="airport">
        <q-card-section
          class="row items-center"
          v-if="
            airport['N° du département'].toString().padStart(2, '0') ===
            TSS.cityCode.slice(0, 2)
          "
        >
          <q-radio
            v-model="agenciesStore.selectedAgency"
            checked-icon="task_alt"
            unchecked-icon="panorama_fish_eye"
            :val="airport"
          >
            <q-avatar icon="flight" text-color="black" />
            <span
              >{{
                `Aéroport de ${airport['Ville desservie']} - (${airport['Code IATA']})`
              }}
            </span>
          </q-radio>
        </q-card-section>
      </div>
      <div v-for="station in stations" :key="station">
        <q-card-section
          class="row items-center"
          v-if="
            station.codeinsee.slice(0, 2) === TSS.cityCode.slice(0, 2) &&
            station.nom.includes(TSS.city.nom)
          "
        >
          <q-radio
            v-model="agenciesStore.selectedAgency"
            checked-icon="task_alt"
            unchecked-icon="panorama_fish_eye"
            :val="station"
          >
            <q-avatar icon="train" text-color="black" />
            <span>Gare de {{ station.nom }}</span>
          </q-radio>
        </q-card-section>
      </div>
      <q-card-actions align="right">
        <q-btn
          flat
          label="Confirmer"
          @click="router.push('/select-car')"
          color="primary"
          v-close-popup
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script setup>
import { useAgenciesStore } from 'src/stores/agencies-store';
import { useTravelSettingsStore } from 'src/stores/travel-settings-store';
import { useRouter } from 'vue-router';
import airports from '../assets/airports.json';
import stations from '../assets/stations.json';

const router = useRouter();
const TSS = useTravelSettingsStore();
const agenciesStore = useAgenciesStore();
</script>
