<template>
  <div class="q-pa-md" style="max-width: 400px">
    <q-form @submit="logIn" @close="reset" class="q-gutter-md">
      <q-input
        filled
        v-model="email"
        label="Email"
        lazy-rules
        :rules="[
          (val) =>
            (val &&
              val.length > 0 &&
              /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(val)) ||
            'Renseignez un email valide.',
        ]"
      />

      <q-input
        filled
        type="password"
        v-model="password"
        label="Mot de passe"
        lazy-rules
        :rules="[
          (val) =>
            (val !== null && val !== '') || 'Renseignez un mot de passe.',
        ]"
      />

      <div class="flex flex-center">
        <q-btn label="Connectez-vous" type="submit" color="primary" />
      </div>
      <p class="flex flex-center">Ou</p>
      <div class="flex flex-center">
        <div class="flex flex-center">
          <q-btn
            label="Créez votre compte"
            @click="router.push('/signup')"
            color="primary"
          />
        </div>
      </div>
    </q-form>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { api } from 'boot/axios';
import { useUserStore } from 'src/stores/user-store';

const userStore = useUserStore();
const router = useRouter();
const email = ref(null);
const accept = ref(false);
const password = ref(null);

const logIn = async () => {
  try {
    const response = await api.post('/user/login', {
      email: email.value,
      password: password.value,
    });
    userStore.setToken(response.data.token);
    localStorage.setItem('token', response.data.token);
    router.push('/');
  } catch (e) {
    console.error('Error:', e);
  }
};

const reset = () => {
  email.value = null;
  password.value = null;
  accept.value = false;
};
</script>
<style></style>
