<template>
  <div class="column flex-center" style="min-height: 94vh">
    <div>
      <div class="q-pb-md text-h6 text-center">Options kilométriques</div>
      <div class="flex-center row justify-around items-center">
        <div
          v-for="kmOption in kmOptions"
          :key="kmOption"
          class="col-3 non-selectable"
        >
          <q-card
            flat
            bordered
            style="border-radius: 2em"
            @click="optionsStore.updateKilometersOptions(kmOption)"
            :class="
              kmOption.selected
                ? 'blue-border option-card hover-option selected-option'
                : 'blue-border option-card hover-option'
            "
          >
            <q-card-section class="text-center q-pb-none"
              ><div class="text-subtitle1 text-bold">
                {{ kmOption.title }}
              </div>
              <p class="">{{ kmOption.price }} €</p>
            </q-card-section>
            <q-tooltip class="text-body2" :offset="[0, 8]">{{
              kmOption.description
            }}</q-tooltip>
          </q-card>
        </div>
      </div>
    </div>
    <div class="q-pt-md">
      <div class="q-pb-md text-h6 text-center">Équipements optionnels</div>
      <div class="row justify-around items-center">
        <div
          v-for="equipmentOption in equipmentOptions"
          :key="equipmentOption"
          class="col-3 non-selectable"
        >
          <q-card
            flat
            bordered
            style="border-radius: 2em"
            @click="equipmentOption.selected = !equipmentOption.selected"
            :class="
              equipmentOption.selected
                ? 'blue-border option-card hover-option selected-option'
                : 'blue-border option-card hover-option'
            "
          >
            <q-card-section class="text-center q-pb-none"
              ><div class="text-subtitle1 text-bold">
                {{ equipmentOption.title }}
              </div>
              <p class="">{{ equipmentOption.price }} € / jour</p>
            </q-card-section>
            <q-tooltip class="text-body2" :offset="[0, 8]">{{
              equipmentOption.description
            }}</q-tooltip>
          </q-card>
        </div>
      </div>
    </div>
    <div class="q-pt-md">
      <div class="q-pb-md text-h6 text-center">Service optionnels</div>
      <div class="row justify-around items-center">
        <div
          v-for="serviceOption in serviceOptions"
          :key="serviceOption"
          class="col-3 non-selectable"
        >
          <q-card
            flat
            bordered
            style="border-radius: 2em"
            @click="serviceOption.selected = !serviceOption.selected"
            :class="
              serviceOption.selected
                ? 'blue-border option-card hover-option selected-option'
                : 'blue-border option-card hover-option'
            "
          >
            <q-card-section class="text-center q-pb-none"
              ><div class="text-subtitle1 text-bold">
                {{ serviceOption.title }}
              </div>
              <p class="">{{ serviceOption.price }} € / jour</p>
            </q-card-section>
            <q-tooltip class="text-body2" :offset="[0, 8]">{{
              serviceOption.description
            }}</q-tooltip>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useOptionsStore } from '../stores/options-store';

const optionsStore = useOptionsStore();

const kmOptions = optionsStore.options.filter((option) => {
  return option.type === 'kilometers';
});

const equipmentOptions = optionsStore.options.filter((option) => {
  return option.type === 'equipment';
});
const serviceOptions = optionsStore.options.filter((option) => {
  return option.type === 'service';
});
</script>
<style></style>
