<template>
  <div class="column blue-border border-radius q-pa-md">
    <div class="text-h6 q-pb-md text-center">
      {{ carStore.selectedCar.name }}
    </div>
    <q-img :src="carStore.selectedCar.photo_link" />
    <div class="row flex-center text-center">
      <div class="col-9 q-pt-md justify-between">
        Départ : {{ TSS.departureDate }} à {{ TSS.departureTime }}
      </div>
      <div class="col-9">
        Retour : {{ TSS.returnDate }} à {{ TSS.returnTime }}
      </div>
    </div>
    <div class="row flex-center q-py-md">
      <div class="col-3 q-pa-sm text-center">Agence :</div>
      <div class="col-5">
        <div class="row text-center">
          <div class="col-12">
            {{ agenciesStore.fakeAgency.streetNumber }}
            {{ agenciesStore.fakeAgency.streetName }}
          </div>
          <div class="col-12">
            {{ agenciesStore.fakeAgency.cityName }},
            {{ agenciesStore.fakeAgency.postalCode }}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="text-h6 text-center">Commande :</div>
      <div class="q-pt-md row justify-around text-center">
        <div class="col-7 text-center">
          Location
          {{ `(${carStore.selectedCar.price_per_day} €/j)` }}
        </div>
        <div class="col-5 text-bold">
          {{ TSS.rentalDays * carStore.selectedCar.price_per_day }} €
        </div>
      </div>
      <div v-for="option in selectedOptions" :key="option">
        <div class="row justify-around text-center">
          <div class="col-7">
            {{ option.type === 'kilometers' ? 'Forfait' : '' }}
            {{ option.title }}
            {{ option.type === 'kilometers' ? `` : `(${option.price} €/j)` }}
          </div>
          <div class="col-5 text-bold">
            {{
              option.type === 'kilometers'
                ? option.price
                : TSS.rentalDays * option.price
            }}
            €
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-around">
      <div class="text-h6 q-pl-md">Total</div>
      <div class="text-h6">{{ totalPrice }} € TTC</div>
    </div>
  </div>
</template>

<script setup>
import { useCarStore } from 'src/stores/car-store';
import { useTravelSettingsStore } from 'src/stores/travel-settings-store';
import { useAgenciesStore } from 'src/stores/agencies-store';
import { useOptionsStore } from 'src/stores/options-store';
import { computed } from 'vue';

const carStore = useCarStore();
const TSS = useTravelSettingsStore();
const agenciesStore = useAgenciesStore();
const optionsStore = useOptionsStore();

const selectedOptions = computed(() => {
  return optionsStore.options.filter((option) => option.selected === true);
});

const optionsPrice = computed(() => {
  let price = 0;
  let i = 0;
  let j = selectedOptions.value.length - 1;
  for (i; i <= j; i++) {
    if (selectedOptions.value[i].type === 'kilometers') {
      price += selectedOptions.value[i].price;
    } else {
      price += selectedOptions.value[i].price * TSS.rentalDays;
    }
  }
  return price;
});
const totalPrice = computed(() => {
  return (
    TSS.rentalDays * carStore.selectedCar.price_per_day + optionsPrice.value
  );
});
</script>

<style></style>
