<template>
  <div class="q-pa-md" style="max-width: 400px">
    <q-form @submit="signUp" @close="onReset" class="q-gutter-md">
      <q-input
        filled
        v-model="email"
        label="Email"
        lazy-rules
        :rules="[
          (val) =>
            (val &&
              val.length > 0 &&
              /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(val)) ||
            'Renseignez un email valide.',
        ]"
      />

      <q-input
        filled
        type="password"
        v-model="password"
        label="Mot de passe"
        lazy-rules
        :rules="[
          (val) =>
            (val !== null && val !== '') || 'Renseignez un mot de passe.',
        ]"
      />
      <q-input
        filled
        type="password"
        v-model="password2"
        label="Mot de passe"
        lazy-rules
        :rules="[
          (val) =>
            (val !== null && val !== '' && val === password) ||
            'Renseignez le même mot de passe.',
        ]"
      />

      <q-toggle
        v-model="accept"
        label="J'accepte la licence et les conditions."
      />

      <div class="flex-col justify-center">
        <q-btn color="primary" type="submit">Créer votre compte</q-btn>
      </div>
    </q-form>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useUserStore } from 'src/stores/user-store';
import { api } from 'src/boot/axios';
import { useRouter } from 'vue-router';
const userStore = useUserStore();
const router = useRouter();
const email = ref(null);
const accept = ref(false);
const password = ref(null);
const password2 = ref(null);

const signUp = async () => {
  if (accept.value === true && password.value === password2.value) {
    const response = await api.post('user/create-user', {
      email: email.value,
      password: password.value,
    });
    const token = response.data.token;
    localStorage.setItem('token', token);
    userStore.setToken(token);
    router.push('/');
  }
};

const onReset = () => {
  email.value = null;
  password.value = null;
  password2.value = null;
  accept.value = false;
};
</script>
