<template>
  <div class="q-pa-md">
    <q-form
      class="row flex-center q-gutter-md"
      @submit="
        TSS.calculateDaysBetween();
        agenciesStore.openAgencySelectionDialog();
        agenciesStore.simulateAgency();
      "
    >
      <q-input
        class="col-5"
        type="text"
        placeholder="Recherchez votre ville par nom ou code postal"
        v-model="TSS.searchInput"
        outlined
        @update:model-value="TSS.searchAgency()"
      >
        <q-menu fit :auto-close="true" :no-focus="true" v-model="TSS.cityList">
          <div v-if="TSS.cities">
            <q-list v-for="city in TSS.cities" :key="city">
              <q-item clickable v-ripple @click="TSS.formatUserInput(city)"
                >{{ city.nom }}
                {{
                  city.codesPostaux.length === 1 ? `, ${city.codesPostaux}` : ''
                }}</q-item
              >
            </q-list>
          </div>
          <q-list v-if="!TSS.cities" style="min-height: 60px">
            <q-item min-height="3em">
              <q-item-section class="col flex-center">
                <q-spinner
                  v-if="TSS.activeSearch"
                  class="text-center"
                  color="primary"
                  size="3em"
                  :thickness="2"
                />
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-input>

      <q-select
        class="col-4"
        outlined
        label="Confirmez votre code postal"
        v-model="TSS.cityCode"
        :options="TSS.city !== null ? TSS.city.codesPostaux : []"
      ></q-select>
      <q-input
        v-model="TSS.departureDate"
        class="col-6"
        placeholder="JJ/MM/YYYY"
        flat
        round
        hint="Date de départ"
      >
        <template v-slot:append><q-avatar icon="calendar_month" /></template>
        <q-menu v-model="TSS.departureDateMenu">
          <q-date
            v-model="TSS.departureDate"
            minimal
            mask="DD/MM/YYYY"
            :locale="TSS.myLocale"
            :options="TSS.dateOptionsDeparture"
            @update:model-value="
              TSS.checkDepartureDateValidity();
              TSS.departureDateMenu = !TSS.departureDateMenu;
            "
          />
        </q-menu>
      </q-input>
      <q-input
        v-model="TSS.departureTime"
        class="col-3"
        placeholder="--:--"
        flat
        round
        hint="Heure de départ"
        @click="TSS.departureTime = null"
      >
        <template v-slot:append><q-avatar icon="schedule" /></template>
        <q-menu v-model="TSS.departureTimeMenu">
          <q-time
            v-model="TSS.departureTime"
            format24h
            flat
            :options="TSS.timeOptionsDeparture"
            @update:model-value="
              TSS.checkDepartureTimeValidity();
              TSS.departureTimeMenu = !TSS.departureTimeMenu;
            "
          />
        </q-menu>
      </q-input>
      <q-input
        v-model="TSS.returnDate"
        class="col-6"
        placeholder="JJ/MM/YYYY"
        flat
        round
        hint="Date de retour"
      >
        <template v-slot:append><q-avatar icon="calendar_month" /></template>
        <q-menu v-model="TSS.returnDateMenu">
          <q-date
            v-model="TSS.returnDate"
            minimal
            :default-year-month="TSS.defaultYearAndMonthReturn()"
            mask="DD/MM/YYYY"
            :locale="TSS.myLocale"
            :options="TSS.dateOptionsReturn"
            @update:model-value="TSS.returnDateMenu = !TSS.returnDateMenu"
          />
        </q-menu>
      </q-input>
      <q-input
        v-model="TSS.returnTime"
        class="col-3"
        placeholder="--:--"
        flat
        round
        hint="Heure de retour"
        @click="TSS.returnTime = null"
      >
        <template v-slot:append><q-avatar icon="schedule" /></template>
        <q-menu v-model="TSS.returnTimeMenu">
          <q-time
            v-model="TSS.returnTime"
            format24h
            flat
            :options="TSS.timeOptionsReturn"
            @update:model-value="TSS.returnTimeMenu = !TSS.returnTimeMenu"
          />
        </q-menu>
      </q-input>

      <q-select
        outlined
        class="col-9"
        v-model="TSS.yearsOfPermit"
        :options="yearsOfPermitQSelectOptions"
        label=" Le nombre d'année révolues depuis l'obtention du permis :"
      />
      <q-checkbox class="col-9 flex-center" v-model="TSS.moreThan25">
        Le conducteur aura 25 ans ou plus le 1er jour de location.</q-checkbox
      >
      <q-btn
        v-if="
          TSS.city &&
          TSS.departureDate &&
          TSS.returnDate &&
          TSS.departureTime &&
          TSS.returnTime &&
          TSS.cityCode
        "
        class="col-4"
        label="Valider"
        color="primary"
        type="submit"
      />
    </q-form>
  </div>
</template>
<script setup>
import { useTravelSettingsStore } from 'src/stores/travel-settings-store';
import { useAgenciesStore } from 'src/stores/agencies-store';
const TSS = useTravelSettingsStore();
const agenciesStore = useAgenciesStore();

const yearsOfPermitQSelectOptions = ['1', '2', '3', '4', '5'];
</script>
