// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// generals
.blue-border {
  border: 1px $primary solid;
}

.border-radius {
  border-radius: 3em;
}
// OptionsCards
.option-card {
  height: 150 px;
  width: 200px;
}

.hover-option {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hover-option:hover {
  background-color: $primary;
  color: white;
}
.selected-option {
  background-color: $primary;
  color: white;
}
