<template>
  <router-view />
</template>

<script setup lang="ts">
import { isTokenValid } from './utils/jwt';
import { onMounted, ref } from 'vue';
import { useUserStore } from './stores/user-store';

const userStore = useUserStore();
const token = ref(localStorage.getItem('token'));
const checkTokenValidity = () => {
  if (token.value && !isTokenValid(token.value)) {
    token.value = null;
    localStorage.removeItem('token');
    userStore.setToken(null);
  } else {
    userStore.setToken(token.value);
  }
};

onMounted(() => {
  checkTokenValidity();
});

defineOptions({
  name: 'App',
});
</script>
