<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title @click="router.push('/')" class="cursor-pointer">
          EZ Rent</q-toolbar-title
        >

        <q-btn v-if="token === null" flat @click="router.push('/login')">
          Se connecter
        </q-btn>
        <q-btn round flat v-if="token">
          <AccountAvatar />
          <AccountAvatarMenu />
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { useUserStore } from 'stores/user-store';
import { computed } from 'vue';
import AccountAvatar from 'components/AccountAvatar.vue';
import AccountAvatarMenu from 'components/AccountAvatarMenu.vue';

const router = useRouter();
const userStore = useUserStore();
const token = computed(() => userStore.token);

defineOptions({
  name: 'MainLayout',
});
</script>
<style></style>
